aside{
  @media (max-width: 480px){ display: none; }
  position: absolute;
  top: 50%;

  &.left{
    left: 0;
    transform: translate(-300%, -50%);
    margin-inline-start: 2.6rem;
    .nav{
      display: flex;
      flex-flow: column;
      align-items: center;
      gap: 0.5rem;
      margin-block: 1.2rem;
      input{
        opacity: 0;
        user-select: none;
        position: absolute;
        &:checked + label{
          opacity: 1;
        }
        &:focus-visible + label{
          outline: 2px solid #fff;
          outline-offset: 2px;
        }
      }
      label{
        display: block;
        width: 0.625rem;
        aspect-ratio: 1/1;
        border-radius: 50%;
        background: #000;
        opacity: .4;
      }
    }
    .btn{
      cursor: pointer;
      width: 1.6875rem;
      height: 3.1875rem;
      border-top: 1px solid rgb(#000, 0.4);
      background-size: 32%;
      opacity: 0.6;
      background-position: center;
      background-repeat: no-repeat;
      transition: 0.4s;
      &:nth-child(1){
        transform: rotate(180deg);
      }
      &:hover{
        opacity: 1;
        border-color: #000;
        transition: 0.2s;
      }
    }
  }

  &.right{
    position: absolute;
    right: 0;
    transform: translate(200%, -50%);
    .cont{
      display: flex;
      input{
        display: none;
      }
      input + label{
        cursor: pointer;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: min(min(8.75vw, 4.375rem), min(8.75vh, 4.375rem));
        background: #fff;
        margin-inline-end: 0.0625rem;
        img{
          position: absolute;
          top: 50%;
          left: .4rem;
          width: min(min(1.6vw, .8rem), min(1.6vh, .8rem));
          transform: rotate(90deg) translateX(-50%);
          transition: .2s;
        }
        div{
          text-transform: uppercase;
          font-size: min(min(2.1667vw, 1rem), min(2.1667vh, 1rem));
          transform: rotate(-90deg);
          white-space: nowrap;
        }
      }
      .colorsCont{
        background: #fff;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        padding: min(min(5vw, 2.6rem, min(5vh, 2.6rem)));
        div{
          label{
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: min(min(3vw, 1.5rem), min(3vh, 1.5rem));
            text-transform: uppercase;
            font-size: min(min(2.0834vw, 0.9375rem), min(2.0834vh, 0.9375rem));
            color: #00000099;
            // padding-block: min(.8vw);
            padding-block: min(min(.8vw, .45rem), min(.8vh, .45rem));
            &:hover{
              color: #000;
            }
            .color{
              flex-shrink: 0;
              border-radius: 50%;
              width: min(min(2.0834vw, 0.9375rem), min(2.0834vh, 0.9375rem));
              aspect-ratio: 1/1;
            }
          }
        }
      }
    }
  }

}