header{
  transform: translateY(-100%);
  
  .wrapper{
    display: flex;
    flex-flow: column;
    @media (min-width: 480px){ flex-flow: row; }
    align-items: center;
    border-bottom: 1px solid rgb(#000, 0.2);
    padding-block-start: min(8.3334vw, 8.3334vh);
    padding-inline: 0;
    padding-block-end: min(3.3334vw, 3.3334vh);
    @media (min-width: 480px){
      padding-block: min(1.5625rem, 5.20834vh);
      padding-inline: 0;
    }
    nav{
      display: flex;
      justify-content: center;
      gap: min(6.2vw, 6.2vh);
      @media (min-width: 480px){ gap: min(min(4vw, 3rem), min(4vh, 3rem)); }
      a{
        text-transform: uppercase;
        font-size: min(2.667vw, 1.5vh);
        @media (min-width: 480px){ font-size: min(1.667vw, 1.5vh); }
        @media (min-width: 840px){ font-size: min(0.875rem, 1.5vh); }
        letter-spacing: 1px;
        transition: .2s;
        @media (min-width: 480px){ transition: .4s; }
        padding: 0.2rem;
        margin: -0.2rem;
        &:hover{
          transform: scale(110%);
          transition: .04s;
        }
        &:nth-child(1):hover{
          transform: scaleX(110%);
        }
      }
    }
    .logo{
      padding: 0.2rem;
      margin: min(5vw, 5vh) 0 min(2.7vw, 2.7vh);
      @media (min-width: 480px){
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
      }
      img{
        display: block;
        width: min(16.8vw, 16.8vh);
        @media (min-width: 480px){
          width: min(10.2083vw, 10.2083vh);
          max-width: 80px !important;
        }
        transition: .2s;
        @media (min-width: 480px){ transition: .4s; }
      }
      &:hover img{
        transform: scaleX(120%);
        transition: .04s;
      }
    }
  }
}