.cta{
  transform: translate(-50%, 200%);
  position: absolute;
  bottom: 0;
  left: 50%;
  height: min(13.334vw, 13.334vh);
  @media (min-width: 480px){ height: min(min(9.375vw, 4.5rem), min(9.375vh, 4.5rem)); }
  display: flex;
  @media (min-width: 480px){ align-items: center; }
  justify-content: center;
  margin-bottom: calc(var(--wrapper-padding) * 2);

  .btn{
    display: grid;
    place-items: center;
    height: 100%;
    aspect-ratio: 116/40;
    @media (min-width: 480px){ aspect-ratio: 198/60; }
    @media (min-width: 780px){ aspect-ratio: 241/55; }
    background: #000;
    border: 1px solid transparent;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    font-size: min(3vw, 3vh);
    @media (min-width: 480px){ font-size: min(min(1.875vw, 0.9375rem), min(1.875vh, 0.9375rem)); }
    transition: .2s;
    &:hover{
      background: none;
      border-color: #000;
      color: #000;
      transition: .04s;
    }
  }

  .btn-outline{
    @media (min-width: 480px){ display: none;}
    cursor: pointer;
    aspect-ratio: 1/1;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(#000, 0.3);
    transition: .2s;
    border-left: 0;
    &:nth-child(2){
      transform: rotate(180deg);
    }
    &:hover{
      border-color: #000;
      transition: .04s;
    }
    svg{
      width: 15%;
    }
  }

  .line{
    @media (max-width: 480px){ display: none; }
    width: 100%;
    height: 1px;
    background: rgb(#000, 0.2);
  }
}