@import "./style/variables/imports";
@import "./style/ui/imports";
@import "./style/layout/imports";
@import "./style/components/imports";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  @mixin focus {
    outline: .125rem solid #222;
    outline-offset: .125rem;
    transition: outline 0s, transform .2s !important;
    @media (min-width: 480px){ transition: outline 0s, transform .4s !important; }
    &:hover{
      transition: outline 0s, transform .04s !important;
    }
  }
  &:focus-visible{ @include focus() }
  &:focus-visible + label{ @include focus() }
}

html{
  height: stretch;
}

body{
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-flow: column;
  background: #555;
}

#root{
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}