body {
  font-family: "Inter";
}

a {
  text-decoration: none;
  color: #000;
}

:root {
  --wrapper-padding: min(min(3vw, 25px), min(3vh, 25px));
}

.wrapper {
  width: 100%;
  max-width: 74.375rem;
  padding-inline: var(--wrapper-padding);
  margin-inline: auto;
}

.bg {
  overflow: hidden;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}
.bg::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(transparent, rgba(255, 255, 255, 0.3) 50%, transparent);
}
.bg div {
  position: absolute;
  z-index: -1;
  width: 100%;
}

header {
  transform: translateY(-100%);
}
header .wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-padding-before: min(8.3334vw, 8.3334vh);
          padding-block-start: min(8.3334vw, 8.3334vh);
  padding-inline: 0;
  -webkit-padding-after: min(3.3334vw, 3.3334vh);
          padding-block-end: min(3.3334vw, 3.3334vh);
}
@media (min-width: 480px) {
  header .wrapper {
    flex-flow: row;
  }
}
@media (min-width: 480px) {
  header .wrapper {
    padding-block: min(1.5625rem, 5.20834vh);
    padding-inline: 0;
  }
}
header .wrapper nav {
  display: flex;
  justify-content: center;
  gap: min(6.2vw, 6.2vh);
}
@media (min-width: 480px) {
  header .wrapper nav {
    gap: min(min(4vw, 3rem), min(4vh, 3rem));
  }
}
header .wrapper nav a {
  text-transform: uppercase;
  font-size: min(2.667vw, 1.5vh);
  letter-spacing: 1px;
  transition: 0.2s;
  padding: 0.2rem;
  margin: -0.2rem;
}
@media (min-width: 480px) {
  header .wrapper nav a {
    font-size: min(1.667vw, 1.5vh);
  }
}
@media (min-width: 840px) {
  header .wrapper nav a {
    font-size: min(0.875rem, 1.5vh);
  }
}
@media (min-width: 480px) {
  header .wrapper nav a {
    transition: 0.4s;
  }
}
header .wrapper nav a:hover {
  transform: scale(110%);
  transition: 0.04s;
}
header .wrapper nav a:nth-child(1):hover {
  transform: scaleX(110%);
}
header .wrapper .logo {
  padding: 0.2rem;
  margin: min(5vw, 5vh) 0 min(2.7vw, 2.7vh);
}
@media (min-width: 480px) {
  header .wrapper .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
  }
}
header .wrapper .logo img {
  display: block;
  width: min(16.8vw, 16.8vh);
  transition: 0.2s;
}
@media (min-width: 480px) {
  header .wrapper .logo img {
    width: min(10.2083vw, 10.2083vh);
    max-width: 80px !important;
  }
}
@media (min-width: 480px) {
  header .wrapper .logo img {
    transition: 0.4s;
  }
}
header .wrapper .logo:hover img {
  transform: scaleX(120%);
  transition: 0.04s;
}

.main {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.main .text {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.main .text span {
  text-align: center;
  opacity: 0;
}
.main .headline-cont {
  overflow: hidden;
  height: min(16.38vw, 5.143125rem);
  -webkit-margin-after: 10vw;
          margin-block-end: 10vw;
}
@media (min-width: 780px) {
  .main .headline-cont {
    -webkit-margin-after: 1rem;
            margin-block-end: 1rem;
  }
}
.main .headline-cont .text span {
  font-family: "Quattrocento";
  font-size: min(min(7.334vw, 2.3125rem), min(7.334vh, 2.3125rem));
}
.main .glasses-cont {
  opacity: 0;
  transform: translateY(-20%);
  position: relative;
  width: 100%;
}
.main .glasses-cont > .text {
  filter: blur(4px);
}
.main .glasses-cont .text span {
  text-transform: uppercase;
  line-height: 1.7;
  color: #fff;
  font-weight: 900;
  font-size: min(min(13.8vw, 9.2375rem), min(13.8vh, 9.2375rem));
  -webkit-animation: breathing 10s ease infinite;
          animation: breathing 10s ease infinite;
}
@-webkit-keyframes breathing {
  0% {
    transform: translateY(-8%);
  }
  50% {
    transform: translateY(8%);
  }
  100% {
    transform: translateY(-8%);
  }
}
@keyframes breathing {
  0% {
    transform: translateY(-8%);
  }
  50% {
    transform: translateY(8%);
  }
  100% {
    transform: translateY(-8%);
  }
}
.main .glasses-cont .lenses {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: min(min(8.8vw, 5.8rem), min(8.8vh, 5.8rem));
}
.main .glasses-cont .lenses .lense {
  overflow: hidden;
  height: 100%;
  aspect-ratio: 1/1;
  -webkit-clip-path: circle(50%);
          clip-path: circle(50%);
}
.main .glasses-cont .lenses .lense .text {
  position: relative;
  width: 100vw;
}
.main .glasses-cont .images {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.main .glasses-cont .images img {
  pointer-events: none;
  opacity: 0;
  height: 100%;
  position: absolute;
  top: max(-0.6vw, -0.4rem);
  transform: translateX(max(-0.1vw, -1rem));
  height: 111.6%;
}
.main .num-cont {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 4vw;
}
@media (min-width: 480px) {
  .main .num-cont {
    margin-top: 8vw;
    margin-bottom: 1.3vw;
  }
}
@media (min-width: 780px) {
  .main .num-cont {
    margin-top: -2vw;
    margin-bottom: 3.2vw;
  }
}
@media (min-width: 1140px) {
  .main .num-cont {
    margin-top: -1.7rem;
    margin-bottom: min(2.6vw, 2.5rem);
  }
}
.main .num-cont .text {
  display: flex;
  flex-flow: column;
  gap: 1rem;
}
.main .num-cont .text span {
  display: block;
  font-size: min(min(3vw, 0.75rem), min(3vh, 0.75rem));
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: min(2vw, 1vh);
}
.main .paragraph-cont {
  overflow: hidden;
  max-width: min(71vw, 32rem);
  padding-inline: calc(var(--wrapper-padding) * 0.4);
  margin-inline: auto;
}
.main .paragraph-cont .text span {
  font-size: min(3.334vw, 3.334vh);
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.6);
}
@media (min-width: 480px) {
  .main .paragraph-cont .text span {
    font-size: min(2.2917vw, 2.2917vh);
  }
}
@media (min-width: 740px) {
  .main .paragraph-cont .text span {
    font-size: min(1.0625rem, 1.9vh);
  }
}

aside {
  position: absolute;
  top: 50%;
}
@media (max-width: 480px) {
  aside {
    display: none;
  }
}
aside.left {
  left: 0;
  transform: translate(-300%, -50%);
  -webkit-margin-start: 2.6rem;
          margin-inline-start: 2.6rem;
}
aside.left .nav {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 0.5rem;
  margin-block: 1.2rem;
}
aside.left .nav input {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
aside.left .nav input:checked + label {
  opacity: 1;
}
aside.left .nav label {
  display: block;
  width: 0.625rem;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background: #000;
  opacity: 0.4;
}
aside.left .btn {
  cursor: pointer;
  width: 1.6875rem;
  height: 3.1875rem;
  border-top: 1px solid rgba(0, 0, 0, 0.4);
  background-size: 32%;
  opacity: 0.6;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.4s;
}
aside.left .btn:nth-child(1) {
  transform: rotate(180deg);
}
aside.left .btn:hover {
  opacity: 1;
  border-color: #000;
  transition: 0.2s;
}
aside.right {
  position: absolute;
  right: 0;
  transform: translate(200%, -50%);
}
aside.right .cont {
  display: flex;
}
aside.right .cont input {
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
aside.right .cont input + label {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: min(min(8.75vw, 4.375rem), min(8.75vh, 4.375rem));
  background: #fff;
  -webkit-margin-end: 0.0625rem;
          margin-inline-end: 0.0625rem;
}
aside.right .cont input + label img {
  position: absolute;
  top: 50%;
  left: 0.4rem;
  width: min(min(1.6vw, 0.8rem), min(1.6vh, 0.8rem));
  transform: rotate(90deg) translateX(-50%);
  transition: 0.2s;
}
aside.right .cont input + label div {
  text-transform: uppercase;
  font-size: min(min(2.1667vw, 1rem), min(2.1667vh, 1rem));
  transform: rotate(-90deg);
  white-space: nowrap;
}
aside.right .cont .colorsCont {
  background: #fff;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  padding: min(min(5vw, 2.6rem, min(5vh, 2.6rem)));
}
aside.right .cont .colorsCont div button {
  background: 0;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: min(min(3vw, 1.5rem), min(3vh, 1.5rem));
  text-transform: uppercase;
  font-size: min(min(2.0834vw, 0.9375rem), min(2.0834vh, 0.9375rem));
  color: rgba(0, 0, 0, 0.6);
  padding-block: min(min(0.8vw, 0.45rem), min(0.8vh, 0.45rem));
}
aside.right .cont .colorsCont div button:hover {
  color: #000;
}
aside.right .cont .colorsCont div button .color {
  flex-shrink: 0;
  border-radius: 50%;
  width: min(min(2.0834vw, 0.9375rem), min(2.0834vh, 0.9375rem));
  aspect-ratio: 1/1;
}

.navigation {
  transform: translate(-50%, 200%);
  position: absolute;
  bottom: 0;
  left: 50%;
  height: min(13.334vw, 13.334vh);
  display: flex;
  justify-content: center;
  margin-bottom: calc(var(--wrapper-padding) * 2);
}
@media (min-width: 480px) {
  .navigation {
    height: min(min(9.375vw, 4.5rem), min(9.375vh, 4.5rem));
  }
}
@media (min-width: 480px) {
  .navigation {
    align-items: center;
  }
}
.navigation .btn {
  display: grid;
  place-items: center;
  height: 100%;
  aspect-ratio: 116/40;
  background: #000;
  border: 1px solid transparent;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  font-size: min(3vw, 3vh);
  transition: 0.2s;
}
@media (min-width: 480px) {
  .navigation .btn {
    aspect-ratio: 198/60;
  }
}
@media (min-width: 780px) {
  .navigation .btn {
    aspect-ratio: 241/55;
  }
}
@media (min-width: 480px) {
  .navigation .btn {
    font-size: min(min(1.875vw, 0.9375rem), min(1.875vh, 0.9375rem));
  }
}
.navigation .btn:hover {
  background: none;
  border-color: #000;
  color: #000;
  transition: 0.04s;
}
.navigation .btn-outline {
  cursor: pointer;
  aspect-ratio: 1/1;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  background-size: 15%;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.2s;
  border-left: 0;
}
@media (min-width: 480px) {
  .navigation .btn-outline {
    display: none;
  }
}
.navigation .btn-outline:nth-child(2) {
  transform: rotate(180deg);
}
.navigation .btn-outline:hover {
  border-color: #000;
  transition: 0.04s;
}
.navigation .line {
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.2);
}
@media (max-width: 480px) {
  .navigation .line {
    display: none;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
*:focus-visible {
  outline: 0.125rem solid #222;
  outline-offset: 0.125rem;
}
*:focus-visible + label {
  outline: 0.125rem solid #222;
  outline-offset: 0.125rem;
}

html {
  height: -webkit-fill-available;
  height: -moz-available;
  height: stretch;
}

body {
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-flow: column;
  background: #555;
}

#root {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}/*# sourceMappingURL=index.css.map */