@import "./style/variables/imports";
@import "./style/ui/imports";
@import "./style/layout/imports";
@import "./style/components/imports";

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  height: stretch;
}

body{
  user-select: none;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-flow: column;
  background: #555;
}

#root{
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}